.eventos__titulo {
    margin-bottom: 1rem;
}

.eventos__item {
    background-color: var(--cinza-claro);
    width: 307px;
    padding-bottom: 1rem;
    height: 318px;
}

.eventos__item img {
    width: 100%;
}

.eventos__item h3 {
    font-size: 18px;
    font-weight: 600;
}

.eventos__item h4,
.eventos__item h5 {
    font-size: 16px;
}

.eventos__item h3,
.eventos__item h4,
.eventos__item h5 {
    padding-left: 1rem;
}

.eventos__item button {
    outline: none;
    border: none;
    background-color: black;
    color: white;
    margin-right: 1rem;
    text-align: center;
    padding: .5rem 0;
    width: 80px;
    cursor: pointer;
    transition: .5s;
}

.eventos__botao button:hover,
.eventos__item button:hover{
    background-color: var(--amarelo);
}

.eventos__botao button{
    outline: none;
    border: none;
    background-color: black;
    color: white;
    padding: .75rem 0;
    width: 148px;
    cursor: pointer;
    transition: .5s;
}

@media(min-width: 1440px){
    .eventos__item {
        width: 280px;
    }
}